body {
    background-color: lightblue;
}


.line-through {
    text-decoration: line-through
}

form,
p {
    background-color: wheat;
    padding: 10px 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

button {
    margin-top: 4px;
    background-color: whitesmoke;
    padding: 3px 3px;
    width: 100px;
    border-radius: 8px;
}